body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;

}


body main{
    width: 90%;
    height: 1000px;
    border: solid 3px green;
    margin: 0 auto;
}

main section{
    width: 50%;
    height: 200px;
    background-color: rgb(240, 251, 255);
    margin: 0 auto;
}

main .menu{
    display: grid;
    grid-column:1fr 1fr;
    width: 100%;
    height: 40px;
    background-color: green;
    color:white;
    position: relative;
    top: 5px;
}

menu h1{
    display: flex;
    justify-content: end;
    color: white;
    position: relative;
    top: -20px;

}

.menu nav{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    right: 100px;
    top: -90px;


}
.menu h1{
    font-family: tahoma;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu ul{
    list-style: none;
}
.menu a{
    color: #000;
    font-family: tahoma
}
ul li{
    display: inline;
    padding-left: 3px;
}
main img{
    position: relative;
    left: 30%;
    top: 60px;
    width: 600px;
}
.proyectos{
    margin: 0 auto;
    width: 40%;
    height: auto;
    color: #000;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
main h1{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


.sena{
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
.seu{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}
.menu{
    font-family: 'Delicious Handrawn', cursive;
}

.jh{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 35px;
}

.pora{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 35px;
}
 